#!/bin/bash

# Determine toolpath if not set already
relativepath="./" # Define relative path to go from this script to the root level of the tool
if [[ ! -v toolpath ]]; then scriptpath=$(cd "$( dirname "${BASH_SOURCE[0]}" )" && pwd ); toolpath=$(realpath --canonicalize-missing $scriptpath/$relativepath); fi

# Define Temporary Folder for ACPI Tables
acpi_working_folder="/usr/src/acpi"

# What Modules to enable
enable_aspm_patch="yes"

# Disassemble all Modules
disassemble_all="yes"
